# PostgreSQL
POSTGRES_USER=synapse
POSTGRES_PASSWORD=!!POSTGRES_PASSWORD!!
POSTGRES_DB=synapse

# Synapse
SYNAPSE_SERVER_NAME=matrix.!!DOMAIN!!
SYNAPSE_REPORT_STATS=no
SYNAPSE_REGISTRATION_SHARED_SECRET=!!REGISTRATION_SHARED_SECRET!!

# Redis
REDIS_HOST=redis
